.login-container {
    background-color: #2c2c2c;
    color: white;
    padding: 20px;
    margin: 50px auto;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    /*max-width: 400px;*/
    width: 400px;
    text-align: center;
}

.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442; /* red */
}

.alert div {
    background-color: #fed3d3;
    color: #820000;
    padding: 1rem;
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bold;
    text-align: left;
    margin-left: 15px;
}

select {
    width: 100%;
    padding: .5rem;
}

h2 {
    margin-bottom: 20px;
    color: #1f66d0; /* Primary color */
}

input {
    background-color: #444;
    color: white;
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #666;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn:enabled {
    margin-top: 10px;
    width: 30%;
    padding: 10px;
    background-color: #3f51b5; /* Primary color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn:enabled:hover {
    background-color: #303f9f; /* Darker shade of primary color */
}

.btn:disabled {
    margin-top: 10px;
    width: 30%;
    padding: 10px;
    background-color: #cccccc; /* Primary color */
    color: #666666;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}
